src/main/resources/META-INF/response-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xml.kkb.lapsa.com/response" xmlns:tns="http://xml.kkb.lapsa.com/response"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:simpleType name="bank_name_type">
		<xs:restriction base="xs:string" />
	</xs:simpleType>


	<xs:simpleType name="merchant_name_type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="merchant_id_type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="amount_type">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="order_id_type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="15" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="currency_type">
		<xs:restriction base="xs:string">
			<!-- KZT -->
			<xs:enumeration value="398" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="merchant_sign_type_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RSA" />
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="customer_sign_type_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RSA" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="timestamp_type">
		<xs:restriction base="xs:string">
			<xs:length value="19" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="card_type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="reference_type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="approval_code_type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="response_code_type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Secure_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Yes" />
			<xs:enumeration value="No" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="card_bin_type">
		<xs:restriction base="xs:string" />
	</xs:simpleType>

	<xs:simpleType name="c_hash_type">
		<xs:restriction base="xs:string" />
	</xs:simpleType>

	<xs:simpleType name="bank_cert_id_type">
		<xs:restriction base="xs:string" />
	</xs:simpleType>

	<xs:simpleType name="merchant_cert_id_type">
		<xs:restriction base="xs:string" />
	</xs:simpleType>

	<xs:simpleType name="bank_cert_type_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SHA/RSA" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="digest_type">
		<xs:restriction base="xs:base64Binary">
			<xs:whiteSpace value="collapse" />
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="department_type">
		<xs:attribute name="merchant_id" type="tns:merchant_id_type"
			use="required" />
		<xs:attribute name="amount" type="tns:amount_type" use="required" />
	</xs:complexType>

	<xs:complexType name="order_type">
		<xs:sequence>
			<xs:element name="department" type="tns:department_type"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="order_id" type="tns:order_id_type"
			use="required" />
		<xs:attribute name="amount" type="tns:amount_type" use="required" />
		<xs:attribute name="currency" type="tns:currency_type"
			use="required" />
	</xs:complexType>

	<xs:complexType name="merchant_type">
		<xs:sequence>
			<xs:element name="order" type="tns:order_type" minOccurs="1"
				maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="cert_id" type="tns:merchant_cert_id_type" />
		<xs:attribute name="name" type="tns:merchant_name_type" />
	</xs:complexType>

	<xs:complexType name="merchant_sign_type">
		<xs:attribute name="type" type="tns:merchant_sign_type_type" />
	</xs:complexType>

	<xs:complexType name="customer_type">
		<xs:sequence>
			<xs:element name="merchant" type="tns:merchant_type"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="merchant_sign" type="tns:merchant_sign_type"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="mail" type="xs:string" />
		<xs:attribute name="phone" type="xs:string" />
	</xs:complexType>

	<xs:complexType name="customer_sign_type">
		<xs:attribute name="type" type="tns:customer_sign_type_type" />
	</xs:complexType>

	<xs:complexType name="payment_type">
		<xs:attribute name="merchant_id" type="tns:merchant_id_type"
			use="required" />
		<xs:attribute name="card" type="tns:card_type" use="optional" />
		<xs:attribute name="amount" type="tns:amount_type" use="required" />
		<xs:attribute name="reference" type="tns:reference_type"
			use="required" />
		<xs:attribute name="approval_code" type="tns:approval_code_type"
			use="required" />
		<xs:attribute name="response_code" type="tns:response_code_type"
			use="required" />
		<xs:attribute name="Secure" type="tns:Secure_type" use="required" />
		<xs:attribute name="card_bin" type="tns:card_bin_type"
			use="optional" />
		<xs:attribute name="c_hash" type="tns:c_hash_type" use="required" />
	</xs:complexType>

	<xs:complexType name="results_type">
		<xs:sequence>
			<xs:element name="payment" type="tns:payment_type"
				minOccurs="1" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="timestamp" type="tns:timestamp_type"
			use="required" />
	</xs:complexType>

	<xs:complexType name="bank_type">
		<xs:sequence>
			<xs:element name="customer" type="tns:customer_type"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="customer_sign" type="tns:customer_sign_type"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="results" type="tns:results_type"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="name" type="tns:bank_name_type" use="required" />
	</xs:complexType>

	<xs:complexType name="bank_sign_type">
		<xs:simpleContent>
			<xs:extension base="tns:digest_type">
				<xs:attribute name="cert_id" type="tns:bank_cert_id_type"
					use="required" />
				<xs:attribute name="type" type="tns:bank_cert_type_type"
					use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="document_type">
		<xs:sequence>
			<xs:element name="bank" type="tns:bank_type" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="bank_sign" type="tns:bank_sign_type"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="document" type="tns:document_type" />

</xs:schema>