src/main/resources/META-INF/response-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.kkb.lapsa.com/response"
	xmlns:tns="http://xml.kkb.lapsa.com/response" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<simpleType name="bank_name_type">
		<restriction base="string" />
	</simpleType>


	<simpleType name="merchant_name_type">
		<restriction base="string">
			<minLength value="1" />
		</restriction>
	</simpleType>

	<simpleType name="merchant_id_type">
		<restriction base="string">
			<minLength value="1" />
		</restriction>
	</simpleType>

	<simpleType name="amount_type">
		<restriction base="double">
			<minInclusive value="0" />
		</restriction>
	</simpleType>

	<simpleType name="order_id_type">
		<restriction base="string">
			<minLength value="1" />
			<maxLength value="15" />
		</restriction>
	</simpleType>

	<simpleType name="currency_type">
		<restriction base="string">
			<!-- KZT -->
			<enumeration value="398" />
		</restriction>
	</simpleType>

	<simpleType name="merchant_sign_type_type">
		<restriction base="string">
			<enumeration value="RSA" />
		</restriction>
	</simpleType>


	<simpleType name="customer_sign_type_type">
		<restriction base="string">
			<enumeration value="RSA" />
		</restriction>
	</simpleType>

	<simpleType name="timestamp_type">
		<restriction base="string">
			<length value="19" />
		</restriction>
	</simpleType>

	<simpleType name="card_type">
		<restriction base="string">
			<minLength value="1" />
		</restriction>
	</simpleType>

	<simpleType name="reference_type">
		<restriction base="string">
			<minLength value="1" />
		</restriction>
	</simpleType>

	<simpleType name="approval_code_type">
		<restriction base="string">
			<minLength value="1" />
		</restriction>
	</simpleType>

	<simpleType name="response_code_type">
		<restriction base="string">
			<minLength value="1" />
		</restriction>
	</simpleType>

	<simpleType name="Secure_type">
		<restriction base="string">
			<enumeration value="Yes" />
			<enumeration value="No" />
		</restriction>
	</simpleType>

	<simpleType name="card_bin_type">
		<restriction base="string" />
	</simpleType>

	<simpleType name="c_hash_type">
		<restriction base="string" />
	</simpleType>

	<simpleType name="bank_cert_id_type">
		<restriction base="string" />
	</simpleType>

	<simpleType name="merchant_cert_id_type">
		<restriction base="string" />
	</simpleType>

	<simpleType name="bank_cert_type_type">
		<restriction base="string">
			<enumeration value="SHA/RSA" />
		</restriction>
	</simpleType>

	<simpleType name="digest_type">
		<restriction base="base64Binary">
			<whiteSpace value="collapse" />
			<minLength value="1" />
		</restriction>
	</simpleType>

	<complexType name="department_type">
		<attribute name="merchant_id" type="tns:merchant_id_type"
			use="required" />
		<attribute name="amount" type="tns:amount_type" use="required" />
	</complexType>

	<complexType name="order_type">
		<sequence>
			<element name="department" type="tns:department_type"
				minOccurs="1" maxOccurs="unbounded" />
		</sequence>
		<attribute name="order_id" type="tns:order_id_type" use="required" />
		<attribute name="amount" type="tns:amount_type" use="required" />
		<attribute name="currency" type="tns:currency_type" use="required" />
	</complexType>

	<complexType name="merchant_type">
		<sequence>
			<element name="order" type="tns:order_type" minOccurs="1"
				maxOccurs="unbounded" />
		</sequence>
		<attribute name="cert_id" type="tns:merchant_cert_id_type" />
		<attribute name="name" type="tns:merchant_name_type" />
	</complexType>

	<complexType name="merchant_sign_type">
		<attribute name="type" type="tns:merchant_sign_type_type" />
	</complexType>

	<complexType name="customer_type">
		<sequence>
			<element name="merchant" type="tns:merchant_type" minOccurs="1"
				maxOccurs="1" />
			<element name="merchant_sign" type="tns:merchant_sign_type"
				minOccurs="1" maxOccurs="1" />
		</sequence>
		<attribute name="name" type="string" />
		<attribute name="mail" type="string" />
		<attribute name="phone" type="string" />
	</complexType>

	<complexType name="customer_sign_type">
		<attribute name="type" type="tns:customer_sign_type_type" />
	</complexType>

	<complexType name="payment_type">
		<attribute name="merchant_id" type="tns:merchant_id_type"
			use="required" />
		<attribute name="card" type="tns:card_type" use="optional" />
		<attribute name="amount" type="tns:amount_type" use="required" />
		<attribute name="reference" type="tns:reference_type" use="required" />
		<attribute name="approval_code" type="tns:approval_code_type"
			use="required" />
		<attribute name="response_code" type="tns:response_code_type"
			use="required" />
		<attribute name="Secure" type="tns:Secure_type" use="required" />
		<attribute name="card_bin" type="tns:card_bin_type" use="optional" />
		<attribute name="c_hash" type="tns:c_hash_type" use="required" />
	</complexType>

	<complexType name="results_type">
		<sequence>
			<element name="payment" type="tns:payment_type" minOccurs="1"
				maxOccurs="unbounded"></element>
		</sequence>
		<attribute name="timestamp" type="tns:timestamp_type" use="required" />
	</complexType>

	<complexType name="bank_type">
		<sequence>
			<element name="customer" type="tns:customer_type" minOccurs="1"
				maxOccurs="1" />
			<element name="customer_sign" type="tns:customer_sign_type"
				minOccurs="1" maxOccurs="1" />
			<element name="results" type="tns:results_type" minOccurs="1"
				maxOccurs="1" />
		</sequence>
		<attribute name="name" type="tns:bank_name_type" use="required" />
	</complexType>

	<complexType name="bank_sign_type">
		<simpleContent>
			<extension base="tns:digest_type">
				<attribute name="cert_id" type="tns:bank_cert_id_type"
					use="required" />
				<attribute name="type" type="tns:bank_cert_type_type" use="required" />
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="document_type">
		<sequence>
			<element name="bank" type="tns:bank_type" minOccurs="1"
				maxOccurs="1" />
			<element name="bank_sign" type="tns:bank_sign_type"
				minOccurs="1" maxOccurs="1" />
		</sequence>
	</complexType>

	<element name="document" type="tns:document_type" />

</schema>